<main class="auth-container">
  <p appCurrency>123456.78</p>

  <section class="grid h-full">
    <div class="col-12 md:col-4 auth-login flex align-items-center">
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="autenticate()" appFocusTrap>
        <div class="grid p-4 md:p-7">
          <div class="col-12">
            <img src="assets/images/pay-friends.svg" alt="PayFriends" tabindex="0"/>
          </div>

          <div class="col-12 auth-login--welcome pb-4">
            <h2 class="m-0 font-semibold" data-cy="title-login" tabindex="0">Bem vindo de volta</h2>
          </div>

          <div class="col-12 pb-4" *ngIf="validLogin">
            <p-message
              severity="error"
              styleClass="w-full justify-content-start"
              text="Usuário ou senha inválidos."
            ></p-message>
          </div>

          <div class="col-12">
            <span class="p-float-label">
              <input
                [id]="CY_SELECTOR.SELECTOR_EMAIL"
                type="email"
                pInputText
                formControlName="email"
                [attr.aria-invalid]="form.get('email').invalid"
                aria-describedby="email-help"
                [ngClass]="{
                  'ng-invalid ng-dirty': emailControl?.errors?.required && emailControl?.dirty
                }"
                class="w-full"
              />
              <label for="email">E-mail</label>
            </span>
            <ng-container *ngIf="emailControl?.errors?.required && emailControl?.dirty">
              <small id="email-help" class="p-error block pt-1">E-mail é um campo obrigatório.</small>
            </ng-container>
          </div>

          <div class="col-12 pt-3">
            <div class="p-inputgroup">
              <input
                [id]="CY_SELECTOR.SELECTOR_PASSWORD"
                [type]="toogleTypeInputPassword ? 'text' : 'password'"
                pInputText
                placeholder="Senha"
                formControlName="senha"
                aria-describedby="senha-help"
                [attr.aria-invalid]="form.get('senha').invalid"
                class="w-full border-right-none"
                [ngClass]="{
                  'ng-invalid ng-dirty': senhaControl?.errors?.required && senhaControl?.dirty
                }"
              />
              <button type="button" class="p-inputgroup-addon cursor-pointer" aria-hidden="true" (click)="changeTypeInputPassword()" tabindex="-1">
                <img src="assets/images/ic-eyes.svg" alt="Exibir senha" title="Visualizar senha"/>
              </button>
            </div>
            <ng-container *ngIf="senhaControl?.errors?.required && senhaControl?.dirty">
              <small id="senha-help" class="p-error block pt-1">Senha é um campo obrigatório.</small>
            </ng-container>
          </div>

          <div class="col-12 pt-4">
            <p-button
              label="Entrar"
              [attr.aria-label]="form.valid ? 'Entrar' : 'Não é possivel entrar. Formulário de login inválido'"
              tabindex="0"
              [id]="CY_SELECTOR.SELECTOR_BTN_LOGIN"
              type="submit"
              (keydown.enter)="autenticate()"
              styleClass="w-full btn-letter-spacing-1x uppercase"
              [disabled]="form.invalid"
            ></p-button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-8 auth-banner hidden md:flex align-items-center justify-content-center">
      <img src="assets/images/banner-login.svg" alt="Banner" role="banner" />
    </div>
  </section>
</main>
